.card-img-top{
    height: 250px;
    width: 250px;    
   
}

.button-comprar{
    background: #7e455b;
    border-radius: 5px;
    color: white;
    height: 40px;
    padding-top: 8px;
    font-weight: 600;
    text-decoration: none;
    
}



.col-md-9{
    justify-content: center !important;
}

.col-md-3 h1{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(119, 108, 108);
}

.col-md-3 h5{
    font-weight: 300;
}

.col-md-3 h6{
    font-size: 14px;
    font-weight: 700;
}

.card.md-2{
    background: rgb(219, 210, 210);
    margin: 4px;
    font-weight: 500;
    border-radius: 0%;
    
}

.card.md-2 a{
    text-decoration: none;
    color: black;
   
}

.content-mx-3 p{
    margin: 1px;
    font-size: 14px;
}


